/* Stats Section */
.provide-stats {
  background: #FAFFFB;
  border-radius: 0;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-top : 30px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.stat-icon {
  color: #000000;
  margin-bottom: 20px;
}

.stat-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 0 0 12px 0;
}

.stat-number {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #20B15A;
  margin: 0;
}

.stat-line {
  width: 1px;
  height: 100px;
  background-color: #e5e7eb;
  flex-shrink: 0;
}