*{
  margin-left:30rem; 
  margin-right: 30rem;
  padding: 30rem;
  box-sizing: border-box;
}
.bg-color{
  background-color: #d7f5dc;
  height: 100vh;
  width: 100%;
}
.bg-color-1{
  background-color: #d7f5dc;
}